html,
body {
    background-color: #1f1f1f;
    color: white; 
    font-family: 'Open Sans', sans-serif;
}


.container-exoplanets {
    margin-right: 8rem;
    margin-left: 8rem;
    padding: 0.7em;
    line-height: 1.65;
}

h3 {
    padding-bottom: 0.7em; 
    padding-top: 0.7em; 
}

details{
    padding-left: 2em;
    padding-bottom: 0.25em; 
    display: block;
    outline: none; 
}

summary {
    outline: none; 
}

header {
    /* todo: make a better color (or an image!) */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 10vh;
    background-color: #0D7DC3;
    color: white;
}

.image-container img {
    margin: 2rem;
    border-radius: 2rem;
}
