.home {
    text-align: center;
    background-image: url("../img/planets.png");
    height: 100vh;
}

.home header {
    background-image: #a2d2ff;
    color: #03071e;
    margin-bottom: 1rem;
}

.image-container img {
    margin: 1rem;
}

img {
    border-radius: 1rem;
}
