.home {
    text-align: center;
    background-image: url("../img/planets.png");
}

.home header {
    background-image: #a2d2ff;
    color: white;
    margin-bottom: 1rem;
}

.image-container img {
    margin: 1rem;
}

img {
    border-radius: 1rem;
}
