html,
body {
    background-color: #0E2051;
    color: white;
    font-family: "Open Sans", sans-serif;
}

.container-fluid {
    position: relative;
    padding-top: 0.5em; 
    padding-bottom: 0.5em; 
    bottom: 0; 
    width: 100%;
}

.text {
    font-size: 0.5em; 
}